.custom-no-focus {
    box-shadow: none !important;
}

.custom-expansion-panel {

    .k-expander-header {
        padding-block: var(--kendo-spacing-2);
        padding-inline: var(--kendo-spacing-2);
    }

    .k-expander-title {
        text-transform: none;
        color: var(--kendo-color-on-app-surface);
    }
}

.custom-expansion-panel.k-expanded {

    border-color: var(--kendo-color-info-emphasis);
    border-radius: var(--kendo-spacing-1);

    .k-expander-header {
        background-color: var(--kendo-color-info-subtle);
        border-bottom: 1px solid var(--kendo-color-border);
    }
}

.k-animation-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    .k-child-animation-container {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}

.k-window-titlebar {
    padding-block: var(--kendo-spacing-2);
    padding-inline: var(--kendo-spacing-2);
}

.k-window-content {
    display: flex;
    flex-direction: column;
    flex: 1;

    padding-block: var(--kendo-spacing-2);
    padding-inline: var(--kendo-spacing-2);
}